* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
  font-weight: 500;
}
:root {
  --brown: #ffa200;
  --dark: #000;
  --dep-brown: #ee9700;
  --light-dark: #222;
}
button {
  cursor: pointer;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url(../assets/bg.png);
}
.spacing {
  padding: 10px 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 2px;
}
nav .logo img {
  width: 30%;
}
nav .logo span {
  font-size: 23px;
  font-weight: 700;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2px;
}
nav ul li {
  padding: 10px 13px;
  font-size: 20px;
  list-style: none;
  cursor: pointer;
}
nav ul .li-1 {
  color: var(--brown);
}
nav ul .li-2 {
  color: #1bbeff;
}
nav ul .li-3 {
  color: aqua;
}
nav ul .li-4 {
  color: rgb(164, 0, 164);
}
nav button {
  padding: 10px 30px;
  background-color: var(--brown);
  border: 0;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
}
nav button:hover {
  background-color: var(--dep-brown);
}

/* Hero page */
.hero-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-page .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.hero-page .left-side h1,
span {
  font-size: 55px;
  font-weight: 900;
}
.hero-page .left-side p {
  margin: 16px 0;
}
.hero-page .left-side button {
  padding: 10px 50px;
  background-color: var(--dark);
  border: 0;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  transition: 0.2s ease-in-out;
}
.hero-page .left-side button:hover {
  background-color: var(--light-dark);
}
.hero-page .right-side img {
  width: 100%;
}

/* curriculume */
.curriculume {
  background-image: url(../assets/bg.png);
  height: 100vh;
  margin: 100px 0;
}
.curriculume h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.curriculume .cards {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.curriculume .cards .card {
  border-radius: 15px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.056);
  display: flex;
  /* background: linear-gradient(to bottom, #e3f4ff, #ffffff, #ffffff); */
  align-items: center;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  gap: 20px;
}
.curriculume .cards .card-1 {
  background: linear-gradient(to bottom, #e3f4ff, #ffffff, #ffffff);
}
.curriculume .cards .card-2 {
  background: linear-gradient(to bottom, #ffe3e3, #ffffff, #ffffff);
}
.curriculume .cards .card-3 {
  background: linear-gradient(to bottom, #d5d5d5, #ffffff, #ffffff);
}
.curriculume .cards .card img {
  max-width: 100px;
  height: auto;
}
.curriculume .cards .card p {
  color: #686868;
}
.curriculume .cards .card button {
  font-size: 18px;
  background-color: transparent;
  border: 0;
  transition: 0.2s ease-in-out;
}
.curriculume .cards .card .btn-1 {
  color: #1bbeff;
}
.curriculume .cards .card .btn-1:hover {
  color: #0092cc;
}
.curriculume .cards .card .btn-2 {
  color: var(--brown);
}
.curriculume .cards .card .btn-2:hover {
  color: #db8b00;
}
.curriculume .cards .card .btn-3 {
  color: purple;
}
.curriculume .cards .card .btn-3:hover {
  color: rgb(91, 0, 91);
}

/* arrows */
.arrows {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.arrows button {
  background-color: var(--brown);
  color: white;
  font-size: 23px;
  padding: 10px 15px;
  border-radius: 100000px;
  border: 0;
  transition: 0.2s ease-in-out;
}
.arrows button:hover {
  background-color: #f19900;
}

/* stories */
.stories {
  margin: 20px 0;
  height: 150vh;
  background: linear-gradient(to top, #ffe4b5, #fff1d7, #ffffff);
}
.stories h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
.two-side {
  display: grid;
  grid-template-columns: auto auto;
  gap: 70px;
  padding: 60px 70px;
}
.big-card img {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.big-card {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.056);
  border: 1px solid #e1e1e1;
  border-radius: 17px;
}
.big-card h2 {
  margin: 20px 0;
  font-weight: 800;
}
.big-card img {
  width: 100%;
}
.big-card p {
  color: #5b5b5b;
}
.stories .cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  width: 50vw;
}
.stories .cards .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.056);
  width: 90%;
  border: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

.stories .cards .card img {
  width: 100%;
}
.stories .cards .card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.content {
  padding: 0 10px;
}
.stories .cards .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content-big {
  padding: 0 30px;
}
.card-b {
  margin-top: 10px;
}
.big-baj {
  padding: 12px;
  font-size: 10px;
  color: #fff;
  background-color: aqua;
  font-size: 17px;
  border-radius: 100px;
  width: 200px;
  text-align: center;
  position: relative;
  bottom: 20px;
  left: 20px;
}
.small-baj {
  padding: 10px;
  font-size: 14px;
  background-color: greenyellow;
  color: #fff;
  border-radius: 100000px;
  position: relative;
  left: 20px;
  text-align: center;
  bottom: 20px;
  width: 150px;
}
.purprle-baj {
  background-color: purple;
}
.view {
  padding: 10px 50px;
  background-color: var(--dark);
  border: 0;
  margin: 60px 0;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
.view:hover {
  background-color: var(--light-dark);
}

footer {
  background-color: #00adfc;
  padding: 50px 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .left {
  width: 300px;
}
footer .logo {
  display: flex;
  align-items: center;
}
footer .logo h3 {
  color: white;
  font-size: 23px;
  font-weight: bold;
}
footer ul li {
  list-style: none;
  cursor: pointer;
}
footer .head-li {
  font-size: 23px;
  font-weight: bold;
  cursor: default;
}
footer .about-school li {
  padding: 6px 0;
}
footer .logos {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
footer .logos img {
  cursor: pointer;
}
 @media screen and (max-width:800px) {
  
 }